<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ol>
            <li><a href="http://localhost:1358" target="_blank">Dejavu</a></li>
            <li><a href="http://localhost:8080" target="_blank">Vue</a></li>
            <li><a href="http://localhost:5601" target="_blank">Kibana</a></li>
            <li><a href="http://localhost:8345" target="_blank">ManifoldCF</a></li>
            <li><a href="http://localhost:8082" target="_blank">PHPPgAdmin</a></li>
        </ol>
    </body>
</html>
